.App {
  font-family: sans-serif;
  text-align: center;
}

.todos_wrapper {
  padding: 0;
}

.todos_wrapper li {
  list-style: none;
}

.delete {
  color: red;
  cursor: pointer;
}

.strike {
  text-decoration: line-through;
}

.edit_button {
  color: gold;
  cursor: pointer;
}

.submit_edit {
  display: none;
}

.hide {
display: none;
}

.show {
  display: inline-block;
}
